#btnLector{
    border: 5px black double;
    height: 250px;
    width: 250px;
    font-size: 200px;
    background-color: orange;
}
#parent{
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    display: flex;
  justify-content: center;

}
