<ion-header [style.visibility]="content_visibility">
  <ion-toolbar>
    <ion-title>Escanear codigo QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [style.visibility]="content_visibility">
  
  <h1>Click al boton para iniciar escaneo de codigo qr</h1>
  <div id="parent">  
    <button (click)="startScan()" id="btnLector">
      <ion-icon name="qr-code-outline"></ion-icon>
    </button>

    
    
  </div>
  
  
    <!-- ... -->
    <div style="position: absolute; left: 0px; top: -2px; height: 1px; overflow: hidden; visibility: hidden; width: 1px;">
      <span
        style="position: absolute; font-size: 300px; width: auto; height: auto; margin: 0px; padding: 0px; font-family: Roboto, Arial, sans-serif;"
        >BESbswy</span
      >
    </div>
    <!-- ... -->
  
  <ion-button expand="block" (click)="cancelarEscaneo()">Cancelar escaneo de qr</ion-button> 
  
</ion-content>
